<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/public/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      TalkieBot
    </title>
  </head>
  <body>
    <h1>
      Welcome to <%= text %> domain!
    </h1>
    <div class="center">
    <a  href="https://discord.com/api/oauth2/authorize?client_id=926430662423109662&permissions=8&scope=bot">
    <button class="button" style="vertical-align:middle">
    <span>
     Authorize
     </span>
    </button>
    </a>
    </div>
  </body>

</html>